# Ignore virtual environment
karm/

# Python cache files
__pycache__/
*.py[cod]

# Environment files
.env

# Ignore macOS system files
.DS_Store

# Ignore IDE and editor settings
.vscode/
.idea/.DS_Store
